version: '3.8'

services:
  mongo:
    image: docker.io/library/mongo:6.0
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - /var/lib/jenkins/mongo_data:/data/db:Z

  flask-app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: todo-app
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    depends_on:
      - mongo
